<!DOCTYPE HTML>
 <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Reservations></title>
</head>
<body>
<h1>Reservations</h1>
<div th:each="r : ${reservations}">
    <div>
        <b th:text="${r.id}">ID</b> -
        <span th:text="${r.reservationName}">
            Reservation Name
        </span>
    </div>
</div>
</body>

</html>